<!DOCTYPE html>
<html>
<head>
	<title>My FlaskApp</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
		<!-- { and % is Jinja template, this is for logic -->
	<!-- brings in the partial for the nav bar -->
	{% include 'includes/_navbar.html' %}

	<div class="container">
		{% block body %}
		{% endblock %}
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>